.heading{
    text-align: center;
    justify-content: center;
    color: rgba(26, 44, 200, 0.822);
    font-size: 21px;
    font-weight: 600
}

nav.navbar{
    background-color: rgba(184, 230, 79, 0.863);
    margin-bottom: 30px;
}